@font-face {
    font-family: "jejudoldam"; /* 제주돌담 폰트 */
    src: url("../assets/EF_jejudoldam.ttf");
}

@font-face {
    font-family: "NanumSquareNeo"; /* 나눔스퀘어 폰트 */
    src: url("../assets/NanumSquareNeo-bRg.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #eeeeee;
}

header ul li {
    list-style: none;
    font-size: 24px;
    display: inline;
}

#headerLeft li a, #headerRight li a {
    color: black;
    text-decoration: none;
}

#headerLeft li a {
    font-family: jejudoldam;
}

#headerRight li a {
    font-family: NanumSquareNeo;
    margin-left: 20px;
}

#addForm {
    margin-top: 20px;
    font-family: NanumSquareNeo;
    text-align: center;
}

#addTitle {
    width: 500px;
    height: 32px;
    font-size: 24px;
    margin-top: 15px;
    padding: 0 4px;
}

#addButton {
    font-size: 24px;
    width: 60px;
    height: 36px;
    /*vertical-align: middle;*/
}

#addContent {
    margin-top: 5px;
    padding: 5px 5px;
    font-family: NanumSquareNeo;
    font-size: 16px;
    width: 80%;
    border-radius: 10px;
}

#list {
    margin-top: 25px;
    /*text-align: center;*/
}

.listDiv {
    margin: 30px auto 0 auto;
    padding: 5px 10px;
    width: 80%;
    border: solid 1px black;
    border-radius: 10px;
}

.listTitle {
    font-family: NanumSquareNeoBold;
    font-size: 24px;
    line-height: 2;
}

.listContent {
    font-family: NanumSquareNeo;
    font-size: 18px;
}